.missedClass {
  display:flex;
  flex-wrap: wrap;
  margin-left:1%;
  gap:20px 30px;
}

.yourClass {
  display:flex;
  flex-wrap: wrap;
  margin-left:1%;
  gap:10px 10px;
}

.yourClass-item {
  padding: 2%;
  border:1px solid rgb(214, 213, 213);
  width:750px;

}

.yourClass-image {
  width: 250px; 
  height: 337px;
  float:left;
  margin-right:15px;
  object-fit: cover;
}

.yourClass-text-top {
  vertical-align: top;
  height:199px;
  
}
.yourClass-text-bottom {
  vertical-align: bottom;

  
}


.missedClass-text-top {
  vertical-align: top;
  height:125px;
  
}
.missedClass-text-bottom {
  vertical-align: bottom;

  
}

a {
  text-decoration: none;

}

.missedClass-item {
  padding: 2%;
  border:1px solid rgb(214, 213, 213);
  width:475px;

}


.missedClass-image {
  width: 475px; 
  height: 150px; 
  object-fit: cover;
  float:top;
}

h1 {
  width:75%;
  margin-left:2%;
  border-bottom:1px solid rgb(214, 213, 213);

}

.medium-member {
  border-radius: 50%;
  border: 3px solid rgb(0, 128, 0);
  margin: 5px;
}

.medium-non-member {
  border-radius: 50%;
}

.bookmark-image{
  float:right
}

.member-preview-image {
  margin-left:5px;
  margin-top:10px;
  margin-right:5px;

}

.audio-image{
  margin-top:10px;
  margin-left:25px;
  margin-right:5px;
}